<!DOCTYPE html>
<html>
    <head>
        
        <meta charset="UTF-8">

        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %} {% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link rel="stylesheet" href="/build/app.css">
        <style type="text/css">
        body{background-color:#d3d3d3;margin:0 80px}a:link,a:visited{color:grey}a:hover{color:#000}a:active{color:green}.card:hover{border-color:#000}.user_name{font-size:14px;font-weight:700}.comments-list .media{border-bottom:1px dotted #ccc}.center-div{margin:0 auto;width:80%}.left{text-align:left}td,th{font-size:small}.small-picture{max-height:30px}.form-group{opacity:.7;color:#fff}
        body{background-image:url('http://balldontlie.fr/BDL.jpg');background-repeat: no-repeat;
  background-attachment: fixed;}#form_save{margin:auto;width:100%}.whitetitle{color:#f5f5f5;margin-top:50px;margin-bottom:10px}.result{font-size:1.3rem;text-align:right}
        </style>
        
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
                <link rel="icon" type="image/png" href="/basketball.png" />

    </head>
 <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-49NMVZ48PY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-49NMVZ48PY');
</script>
    <body>
     {% block body %}{% endblock %}
    </body>

     {% block javascripts %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ asset('/build/app.js') }}"></script>
            {{ encore_entry_script_tags('app') }}

        {% endblock %}
</html>
